<div class="row">
  <div class="col-md-8 mx-auto" style="padding-top: 5%">
    <form [formGroup]="contactUs" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              [class.isFormValidate]="f.username.valid"
              autocomplete="off"
              formControlName="username"
              placeholder="Enter Username" />
            <div *ngIf="f.username.dirty || f.username.touched">
              <div
                *ngIf="f.username.errors?.required"
                style="color: rgb(235, 19, 19)">
                Username is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input
              type="email"
              class="form-control"
              [class.isFormValidate]="f.email.valid"
              autocomplete="off"
              formControlName="email"
              placeholder="Enter email" />
            <div *ngIf="f.email.dirty || f.email.touched">
              <div
                *ngIf="f.email.errors?.required"
                style="color: rgb(235, 19, 19)">
                Email is required.
              </div>
              <div
                *ngIf="f.email.errors?.pattern"
                style="color: rgb(235, 19, 19)">
                Invalid email format.
              </div>
            </div>
          </div>
          <!-- <input type="file" class="form-control-file border"> -->
          <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea
              class="form-control"
              [class.isFormValidate]="f.comment.valid"
              formControlName="comment"
              rows="5"></textarea>
            <div *ngIf="f.comment.dirty || f.comment.touched">
              <div
                *ngIf="f.comment.errors?.minlength"
                style="color: rgb(235, 19, 19)">
                Minimum length should be greter then 16 characters.
              </div>
              <div
                *ngIf="f.comment.errors?.required"
                style="color: rgb(235, 19, 19)">
                Comment is required.
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="fruits">Select your favorite fruit:</label>
            <select class="form-control" formControlName="fruits">
              <option *ngFor="let fruit of fruitsList" [value]="fruit.value">
                {{ fruit.label }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="pwd">Password:</label>
            <input
              type="password"
              class="form-control"
              [class.isFormValidate]="f.password.valid"
              formControlName="password"
              placeholder="Enter password" />
            <div
              *ngIf="f.password.dirty || f.password.touched"
              class="errorText">
              <div *ngIf="f.password.errors?.required">
                &#x2022; Password is required.
              </div>
              <div *ngIf="f.password.errors?.minlength">
                &#x2022; Password should be at least 6 characters long.
              </div>
              <div *ngIf="f.password.errors?.maxlength">
                &#x2022; Password should not exceed 15 characters.
              </div>
              <div *ngIf="f.password.errors?.pattern">
                &#x2022; Password should contain at least one uppercase letter
                and one lowercase letter.
              </div>
              <div *ngIf="f.password.errors?.weak">&#x2022; Weak password</div>
            </div>
            <div *ngIf="f.password.valid" class="text-success">
              &#x2022; Strong password
            </div>
          </div>

          <div class="form-check" formArrayName="checkboxes">
            <label
              class="form-check-label"
              style="padding-right: 30px"
              *ngFor="let checkbox of checkboxArray.controls; let i = index">
              <input
                type="checkbox"
                [formControlName]="i"
                class="form-check-input"
                value="" />{{ checkboxLabels[i] }}
            </label>
          </div>

          <div class="radio-btn">
            <label for="gender" style="padding-right: 20px; padding-top: 15px"
              >Select your gender</label
            >
            <div class="form-check-inline">
              <label class="form-check-label">
                <input
                  type="radio"
                  class="form-check-input"
                  formControlName="gender"
                  id="userMale"
                  value="male" />Male
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input
                  type="radio"
                  class="form-check-input"
                  id="userFemale"
                  formControlName="gender"
                  value="female" />Female
              </label>
            </div>
          </div>
          <!-- <input type="range" class="form-control-range"> -->
        </div>
        <hr />
        <button
          type="submit"
          [disabled]="!contactUs.valid"
          class="btn btn-primary btn-block mt-4">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
