<div class="container-fluid">
    <div class="row" style="padding-top: 8%;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="shadow-lg p-4 mb-4 bg-white">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="email">Email address:</label>
                                <input type="email" class="form-control"  formControlName="email" autocomplete="off" placeholder="Enter email" id="email">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control"  formControlName="password" autocomplete="off" placeholder="Enter password" id="pwd">
                            </div>
                            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>